.dockerignore
.git

# we don't need our docker directory
docker

# Mix artifacts
_build
deps
*.ez

# don't include any edeliver stuff
releases

# Generate on crash by the VM
erl_crash.dump

# Static artifacts
node_modules
web/static